<a href="https://colab.research.google.com/github/wawabg/feature-engineer/blob/exemple1/FEexple1_ipynb1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
data= {'Candy Variety':['Chocolate Hearts','Sour Jelly', 'Candy Canes', 'SourJelly', 'Fruit Drops'],
       'Date and Time':['09-02-2020 14:05','24-10-2020 18:00', '18-12-2020 20:13','25-10-2020 10:00','18-10-2020 15:46'],
       'Day' :['Sunday', 'Saturday', 'Friday','Sunday', 'Sunday'], 
       'Length':[3, 3.5,3.5, 3.5, 5], 'Breadth':[2,2,2.5,2,3], 'Price' :[7.5, 7.6, 8, 7.6, 9]}
df = pd.DataFrame(data)
df['Date and Time'] = pd.to_datetime(df['Date and Time'],format="%d-%m-%Y %H:%M")
df

      Candy Variety       Date and Time       Day  Length  Breadth  Price
0  Chocolate Hearts 2020-02-09 14:05:00    Sunday     3.0      2.0    7.5
1        Sour Jelly 2020-10-24 18:00:00  Saturday     3.5      2.0    7.6
2       Candy Canes 2020-12-18 20:13:00    Friday     3.5      2.5    8.0
3         SourJelly 2020-10-25 10:00:00    Sunday     3.5      2.0    7.6
4       Fruit Drops 2020-10-18 15:46:00    Sunday     5.0      3.0    9.0

In [12]:
df[ 'Date' ]=df['Date and Time'].dt.date
df[['Candy Variety', 'Date' ]]

      Candy Variety        Date
0  Chocolate Hearts  2020-02-09
1        Sour Jelly  2020-10-24
2       Candy Canes  2020-12-18
3         SourJelly  2020-10-25
4       Fruit Drops  2020-10-18

In [14]:
import numpy as np
df[ 'Weekend' ] = np.where(df['Day'].isin(['Saturday', 'Sunday']), 1, 0)
df[['Candy Variety', 'Date', 'Weekend']]

      Candy Variety        Date  Weekend
0  Chocolate Hearts  2020-02-09        1
1        Sour Jelly  2020-10-24        1
2       Candy Canes  2020-12-18        0
3         SourJelly  2020-10-25        1
4       Fruit Drops  2020-10-18        1